In [21]:
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [45]:
df = pd.read_csv('data/transaction_summary.csv')
df['property_type'].unique()

array(['Non-Landed', 'Strata-Landed', 'Landed', 'Exec Condo',
       'Strata-Landed / Non-Landed', 'Landed / Non-Landed'], dtype=object)

In [17]:
df_non_landed = df[df['property_type'] == 'Non-Landed']
df_non_landed.groupby([''])

,project_name,street_name,developer,property_type,locality,total_num_units_in_project,cumulative_units_launched_to_date,cumulative_units_sold_to_date,total_num_unsold_units,cumulative_units_launched_unsold,units_launched_month,units_sold_month,median_price_psf,lowest_price_psf,highest_price_psf,reference_period
0,38 AMBER,AMBER ROAD,Ho Brothers Investment Pte Ltd,Non-Landed,RCR,30,0,0,30,0,0,0,-,-,-,2007-06-30
1,3@PHILLIPS,PHILLIPS AVENUE,Sovereign Development Pte Ltd,Non-Landed,OCR,16,16,16,0,0,0,0,-,-,-,2007-06-30
3,8 @ MOUNT SOPHIA,MOUNT SOPHIA,FCL Sophia Pte Ltd,Non-Landed,CCR,313,313,313,0,0,0,0,-,-,-,2007-06-30
5,8 NAPIER,NAPIER ROAD,Napier Properties Pte Ltd,Non-Landed,CCR,46,0,0,46,0,0,0,-,-,-,2007-06-30
6,ALBA,CAIRNHILL RISE,Far East Organization Centre Pte Ltd,Non-Landed,CCR,55,0,0,55,0,0,0,-,-,-,2007-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51740,VERDALE,DE SOUZA AVENUE,C&C (JJK) Pte Ltd,Non-Landed,RCR,258,0,0,258,0,0,0,-,-,-,2020-01-31
51741,VERTICUS,JALAN KEMAMAN,SB (Kemaman) Development Pte Ltd,Non-Landed,RCR,162,0,0,162,0,0,0,-,-,-,2020-01-31
51742,VIEW AT KISMIS,LORONG KISMIS,Roxy-TE2 Development Pte Ltd,Non-Landed,RCR,186,80,69,117,11,0,16,"1,698",1546,1805,2020-01-31
51744,WHISTLER GRAND,WEST COAST VALE,CDL Pegasus Pte Ltd,Non-Landed,OCR,716,500,469,247,31,0,16,"1,440",1295,1607,2020-01-31
51745,WILSHIRE RESIDENCES,FARRER ROAD,TE2KS-RH Pte Ltd,Non-Landed,CCR,85,20,10,75,10,0,0,-,-,-,2020-01-31

In [36]:
df1 = pd.read_csv('data/apartments_condos/total.csv')
df1[df1['project_name'].str.contains('JADESCAPE')].sort_values('date_of_sale', ascending=False).groupby('area_sqft')['unit_price_psf'].mean()

area_sqft
527     1704.810127
646     1721.557377
764     1707.940000
775     1684.488372
904     1692.270270
1012    1653.688889
1055    1681.451613
1141    1667.600000
1152    1647.176471
1259    1662.734694
1421    1662.833333
1647    1702.833333
2099    1578.181818
4230    1418.500000
Name: unit_price_psf, dtype: float64

In [46]:
df[df['project_name'].str.contains('JADESCAPE')].sort_values('reference_period', ascending=False).iloc[0]

project_name                                                   JADESCAPE
street_name                                                  SHUNFU ROAD
developer                            Qingjian Realty (Marymount) Pte Ltd
property_type                                                 Non-Landed
locality                                                             RCR
total_num_units_in_project                                          1206
cumulative_units_launched_to_date                                    800
cumulative_units_sold_to_date                                        669
total_num_unsold_units                                               537
cumulative_units_launched_unsold                                     131
units_launched_month                                                   0
units_sold_month                                                      46
median_price_psf                                                   1,707
lowest_price_psf                                                    1506
highest_price_psf                                                   1837
reference_period                                              2020-02-29
Name: 51792, dtype: object

In [48]:
df[df['reference_period'] == '2020-02-29'].sort_values('units_sold_month', ascending=False).head(10)

,project_name,street_name,developer,property_type,locality,total_num_units_in_project,cumulative_units_launched_to_date,cumulative_units_sold_to_date,total_num_unsold_units,cumulative_units_launched_unsold,units_launched_month,units_sold_month,median_price_psf,lowest_price_psf,highest_price_psf,reference_period
51880,THE M,MIDDLE ROAD,Wingcharm Investment Pte Ltd,Non-Landed,CCR,522,522,380,142,142,522,380,"2,439",2127,2937,2020-02-29
51830,PARC CANBERRA,CANBERRA WALK,Hoi Hup Sunway Canberra Pte Ltd,Exec Condo,OCR,496,496,324,172,172,496,324,"1,111",970,1199,2020-02-29
51887,TREASURE AT TAMPINES,TAMPINES LANE,Sim Lian (Treasure) Pte Ltd,Non-Landed,OCR,2203,1100,1012,1191,88,150,97,"1,379",1216,1517,2020-02-29
51832,PARC ESTA,SIMS AVENUE,MCL Land (Everbright) Pte Ltd,Non-Landed,RCR,1399,1150,1105,294,45,75,53,"1,686",1602,1907,2020-02-29
51792,JADESCAPE,SHUNFU ROAD,Qingjian Realty (Marymount) Pte Ltd,Non-Landed,RCR,1206,800,669,537,131,0,46,"1,707",1506,1837,2020-02-29
51829,PARC BOTANNIA,FERNVALE STREET,Fernvale Green Pte Ltd,Non-Landed,OCR,735,735,722,13,13,0,40,"1,376",1213,1461,2020-02-29
51831,PARC CLEMATIS,JALAN LEMPENG,Sing-Haiyi Gold Pte Ltd,Non-Landed,OCR,1468,665,592,876,73,0,31,"1,579",1368,1674,2020-02-29
51895,VIEW AT KISMIS,LORONG KISMIS,Roxy-TE2 Development Pte Ltd,Non-Landed,RCR,186,100,84,102,16,20,22,"1,696",1589,1797,2020-02-29
51873,THE GARDEN RESIDENCES,SERANGOON NORTH VIEW,Gardens Development Pte Ltd,Non-Landed,OCR,613,320,264,349,56,57,21,"1,567",1382,1654,2020-02-29
51842,PIERMONT GRAND,SUMANG WALK,Pavo Properties Pte Ltd,Exec Condo,OCR,820,820,488,332,332,0,15,"1,106",1017,1167,2020-02-29