In [9]:
import requests

ac_post_url = "https://www.ura.gov.sg/realEstateIIWeb/transaction/submitSearch.action"
ac_get_url = "https://www.ura.gov.sg/realEstateIIWeb/transaction/search.action"
    
session = requests.Session()
resp = session.get(ac_get_url)
resp

In [10]:
cookies = requests.utils.dict_from_cookiejar(session.cookies)
cookies

{'TS0117b822': '01e0d9e46e7572100938422935205b8c147d6c8d803a6d96370eaa2afaabd837320c3595a1d4fac663a294e60b653c6a52322753a13e353c38f8c6b09cb1491caf9e5fd9a6e5b5503d8afe17b8d33675ec6b86a36e',
 'BIGipServerIAPP-HTTPS_A83-WWW.URA.GOV.SG_V4.app~IAPP-HTTPS_A83-WWW.URA.GOV.SG_V4_pool': '952674496.20480.0000',
 'JSESSIONID': 'CXJi8hbYiPYGj2uXC6jj5FZhbpxOxfD2BLj3RyRpctM0BVaoe1SM!1253251828!-206916103',
 '_nxqsession_jsessionid': 'ktypFKFD86Fnq4VjU7NqD1y1AQ1vFSN6qSIYuEEAZM3XeKZ+K4OwErtC4fKhtISnroexQwMakzkR0fbuNUq15s0peAPeKYyyDiQ='}

In [11]:
post_url = ac_post_url + ';jsessionid=' + cookies['JSESSIONID']
post_url

'https://www.ura.gov.sg/realEstateIIWeb/transaction/submitSearch.action;jsessionid=CXJi8hbYiPYGj2uXC6jj5FZhbpxOxfD2BLj3RyRpctM0BVaoe1SM!1253251828!-206916103'

In [23]:
url = 'https://www.ura.gov.sg/realEstateIIWeb/transaction/submitSearch.action;jsessionid=GfFi7_z5DMnYjOYRaXcBnGNnlpW49T6UzZXGOqSfZYprRaOlfQ9n!-206916103!1253251828'
payload = '__multiselect_selectedPostalDistricts1=&__multiselect_selectedProjects1=&postalDistrictList=28&propertyType=ac&selectedFromPeriodPostalDistrict=APR%202017&selectedFromPeriodProjectName=APR%202017&selectedPostalDistricts1=01&selectedToPeriodPostalDistrict=MAR%202020&selectedToPeriodProjectName=MAR%202020&submissionType=pd'

form_data = {
    'submissionType': 'pd',
    'selectedFromPeriodProjectName': 'APR 2017',
    'selectedToPeriodProjectName': 'MAR 2020',
    '__multiselect_selectedProjects1': None,
    'selectedFromPeriodPostalDistrict': 'APR 2017',
    'selectedToPeriodPostalDistrict': 'MAR 2020',
    'propertyType': 'ac',
    'postalDistrictList': '28',
    'selectedPostalDistricts1': '01',
    '__multiselect_selectedPostalDistricts1': None
}
    
headers = {
  'Upgrade-Insecure-Requests': '1',
  'Origin': 'https://www.ura.gov.sg',
  'Content-Type': 'application/x-www-form-urlencoded',
  'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.92 Safari/537.36',
  'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
  'Content-Type': 'application/x-www-form-urlencoded'
}

resp = session.post(post_url, headers=headers, data=form_data)
resp

In [24]:
import pandas as pd
df = pd.read_html(resp.text)[0]
df

,Project Name,Street Name,Type,Postal District,Market Segment,Tenure,Type of Sale,No. of Units,Price ($),Nett Price ($),Area (Sqft)¹,Type of Area²,Floor Level,Unit Price ($psf)³,Date of Sale⁴
0,MARINA ONE RESIDENCES,MARINA WAY,Apartment,1,CCR,99 yrs lease commencing from 2011,Resale,1,1728540,-,775,Strata,21 to 25,2230,Mar-20
1,MARINA ONE RESIDENCES,MARINA WAY,Apartment,1,CCR,99 yrs lease commencing from 2011,Resale,1,1649796,-,753,Strata,06 to 10,2190,Mar-20
2,MARINA ONE RESIDENCES,MARINA WAY,Apartment,1,CCR,99 yrs lease commencing from 2011,Resale,1,2185643,-,1001,Strata,11 to 15,2183,Mar-20
3,MARINA ONE RESIDENCES,MARINA WAY,Apartment,1,CCR,99 yrs lease commencing from 2011,Resale,1,1617145,-,753,Strata,06 to 10,2146,Mar-20
4,MARINA ONE RESIDENCES,MARINA WAY,Apartment,1,CCR,99 yrs lease commencing from 2011,Resale,1,1667081,-,753,Strata,06 to 10,2213,Mar-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,THE SAIL @ MARINA BAY,MARINA BOULEVARD,Apartment,1,CCR,99 yrs lease commencing from 2002,Resale,1,1188888,-,592,Strata,61 to 65,2008,Apr-17
700,THE SAIL @ MARINA BAY,MARINA BOULEVARD,Apartment,1,CCR,99 yrs lease commencing from 2002,Resale,1,1168000,-,678,Strata,06 to 10,1722,Apr-17
701,EMERALD GARDEN,CLUB STREET,Condominium,1,RCR,999 yrs lease commencing from 1827,Resale,1,1920000,-,1216,Strata,01 to 05,1579,Apr-17
702,EMERALD GARDEN,CLUB STREET,Condominium,1,RCR,999 yrs lease commencing from 1827,Resale,1,2180000,-,1238,Strata,06 to 10,1761,Apr-17
703,MARINA ONE RESIDENCES,MARINA WAY,Apartment,1,CCR,99 yrs lease commencing from 2011,New Sale,1,2379465,-,1119,Strata,11 to 15,2126,Apr-17