In [29]:
import pandas as pd
import json
import numpy as np
df = pd.read_csv('/home/jamesong/Desktop/Projects/housing/server/data/total_transactions.csv')

In [3]:
import csv

with open('/home/jamesong/Desktop/Projects/housing/server/data/total_transactions.csv', 'r') as f:
    d = csv.DictReader(f, delimiter=',')
    for index, data in enumerate(d):
        print(index, data)
        print(d.line_num)
        break

0 {'project_name': 'BLAIR PLAIN CONSERVATION AREA', 'street_name': 'EVERTON ROAD', 'property_type': 'Terrace', 'postal_district': '2', 'market_segment': 'RCR', 'tenure': 'Freehold', 'type_of_sale': 'Resale', 'num_units': '1', 'price': '3800000', 'nett_price': '-', 'area_sqft': '1668', 'type_of_area': 'Land', 'floor': '-', 'unit_price_psf': '2278', 'reference_period': '2020-08-31', 'area_sqm': '154.96098104793757', 'unit_price_psm': '24520.392'}
2

In [2]:
df

,y,x,street,project,market_segment,area_sqm,area_sqft,price,nett_price,unit_price_psm,unit_price_psf,floor_range,num_units,reference_period,type_of_sale,property_type,district,type_of_area,tenure,observation_time
0,29491.915576,22726.561999,ZEHNDER ROAD,LANDED HOUSING DEVELOPMENT,RCR,314.0,3379.867872,4750000.0,NaN,15127.388535,1405.380382,-,1,2018-06-30,Resale,Semi-detached,5,Land,Freehold,2020-04-11 15:24:53.293101
1,29491.915576,22726.561999,ZEHNDER ROAD,LANDED HOUSING DEVELOPMENT,RCR,308.0,3315.284409,5000000.0,NaN,16233.766234,1508.166233,-,1,2018-09-30,Resale,Semi-detached,5,Land,Freehold,2020-04-11 15:24:53.293101
2,29491.915576,22726.561999,ZEHNDER ROAD,LANDED HOUSING DEVELOPMENT,RCR,524.3,5643.518233,5500000.0,NaN,10490.177379,974.569368,-,1,2020-02-29,Resale,Semi-detached,5,Land,Freehold,2020-04-11 15:24:53.293101
3,25005.804519,28384.068816,COVE DRIVE,TURQUOISE,CCR,348.0,3745.840826,4400000.0,NaN,12643.678161,1174.636138,06-10,1,2018-09-30,Resale,Condominium,4,Strata,99 yrs lease commencing from 2007,2020-04-11 15:24:53.293101
4,25005.804519,28384.068816,COVE DRIVE,TURQUOISE,CCR,224.0,2411.115934,3600000.0,NaN,16071.428571,1493.084571,01-05,1,2018-03-31,Resale,Condominium,4,Strata,99 yrs lease commencing from 2007,2020-04-11 15:24:53.293101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68807,40230.126479,32587.288052,SELETAR GREEN WALK,LUXUS HILLS,OCR,150.0,1614.586563,3398000.0,NaN,22653.333333,2104.563532,-,1,2020-04-30,Resale,Terrace,28,Land,999 yrs lease commencing from 1879,2020-05-15 00:07:42.224813
68808,40230.126479,32587.288052,SELETAR GREEN WALK,LUXUS HILLS,OCR,205.0,2206.601636,3738000.0,NaN,18234.146341,1694.007626,-,1,2020-04-30,Resale,Terrace,28,Land,999 yrs lease commencing from 1879,2020-05-15 00:07:42.224813
68809,40230.126479,32587.288052,SELETAR GREEN WALK,LUXUS HILLS,OCR,224.7,2418.650671,4398000.0,NaN,19572.763685,1818.369247,-,1,2020-04-30,Resale,Terrace,28,Land,999 yrs lease commencing from 1879,2020-05-15 00:07:42.224813
68810,45560.437100,28390.147000,YISHUN CENTRAL 1,NORTH PARK RESIDENCES,OCR,73.0,785.765461,960000.0,NaN,13150.684932,1221.738608,11-15,1,2020-04-30,Sub Sale,Apartment,27,Strata,99 yrs lease commencing from 2015,2020-05-15 00:07:42.224813
68811,45560.437100,28390.147000,YISHUN CENTRAL 1,NORTH PARK RESIDENCES,OCR,52.0,559.723342,820000.0,NaN,15769.230769,1465.009476,11-15,1,2020-05-31,Sub Sale,Apartment,27,Strata,99 yrs lease commencing from 2015,2020-05-15 00:07:42.224813

In [34]:
format_df = df.groupby(['district', 'reference_period'])['unit_price_psf'].mean().unstack(level=0)
format_df = format_df.rename(columns=str)

json_res = []
for column in format_df:
    if column == '6':
        break
    district_res = {}
    district_res['id'] = f"District {column}"
    district_res['data'] = []
    for index, data in format_df[column].items():
        if np.isnan(data):
            district_res['data'].append({'x': index, 'y': None})
        else:
            district_res['data'].append({'x': index, 'y': data})
    json_res.append(district_res)

with open('data/avg_unit_price_psf.json', 'w') as f:

    f.write(json.dumps(json_res))

In [21]:
import requests
url = 'https://data.gov.sg/api/action/datastore_search?resource_id=42ff9cfe-abe5-4b54-beda-c88f9bb438ee&limit=5'
resp = requests.get(url)
resp

In [4]:
import math

math.ceil(0.5)

1

In [25]:
max_ascii_val = ord('z') - ord('a')
max_ascii_val

25

In [47]:
from collections import defaultdict

def convert_to_ascii_arr(string, offset):
    return [ord(char) - offset for char in string]


def get_most_common_ascii(ascii_val_arr):
    print(ascii_val_arr)
    # get most occurences of ascii val in target
    ascii_occurrence = defaultdict(int)
    for ascii_val in ascii_val_arr:
        ascii_occurrence[ascii_val] += 1

    most_common_key, most_common_value = None, 0
    for key, value in ascii_occurrence.items():
        if value > most_common_value:
            most_common_value = value
            most_common_key = key
            print(most_common_key)
    return most_common_key


def get_caesar_shifted_source(source, target):
    max_ascii_val = ord('z') - ord('a') + 1
    source_ascii_val_arr = convert_to_ascii_arr(source, ord('a'))
    target_ascii_val_arr = convert_to_ascii_arr(target, ord('a'))

    most_common_source_ascii_val = get_most_common_ascii(source_ascii_val_arr)
    most_common_target_ascii_val = get_most_common_ascii(target_ascii_val_arr)
    print(most_common_source_ascii_val, most_common_target_ascii_val)
    distance = (most_common_target_ascii_val - most_common_source_ascii_val) % max_ascii_val

    # shift the ascii val in source
    shifted_source_ascii_val_arr = []
    for ascii_val in source_ascii_val_arr:
        shifted_val = (ascii_val + distance) % max_ascii_val
        shifted_source_ascii_val_arr.append(shifted_val)
    return shifted_source_ascii_val_arr

In [9]:
def edit_distance(str1, str2, index1, index2):
    if index1 < 0 and index2 < 0:
        return 0
    
    # if first string is empty, we need to insert all characters from second string
    if index1 < 0:
        return index2
    # if second string is empty, we need to delete all characters from first string
    if index2 < 0:
        return index1
    
    # both characters are the same. ignore and reduce index
    if str1[index1] == str2[index2]:
        return edit_distance(str1, str2, index1-1, index2-1)

    # if both characters not the same, recursively compute min cost
    return 1 + min(edit_distance(str1, str2, index1, index2-1), # insert character into string1 from string2
                   edit_distance(str1, str2, index1-1, index2), # delete character from string1
                   edit_distance(str1, str2, index1-1, index2-1), # replace character from string 1
                  )

In [11]:
str1 = 'efg'
str2 = 'elz'
edit_distance(str1, str2, len(str1) - 1, len(str2) - 1)

4

In [20]:
def edit_distance_dp(str1, str2, index1, index2):
    
    # create a table to store results of subproblems. offset by 1 here so that we can declare the 0th index for row/col as having zero length for the corresponding str1/str2.
    dp = [[0 for _ in range(index2+1)] for _ in range(index1+1)]
    for i in range(index1+1):
        for j in range(index2+1):
            # if first string is empty, insert all characters from whatever is left of second string
            if i == 0:
                dp[i][j] = j
            # if second string is empty, insert all characters from whatever is left of first string
            elif j == 0:
                dp[i][j] = i
            
            # if last characters are the same, ignore last character and get the value for remaining string
            elif str1[i-1] == str2[j-1]:  # we need to offset here since we are thinking of i and j in terms of length of str1 and str2
                dp[i][j] = dp[i-1][j-1]
            
            # if last characters are different, consider all possibilities and find min
            else:
                dp[i][j] = 1 + min(dp[i][j-1],
                                   dp[i-1][j])
    for x in dp:
        print(*x, sep=" ")
        
    return dp[index1][index2]

In [22]:
str1 = 'efg'
str2 = 'elzh'
edit_distance_dp(str1, str2, len(str1), len(str2))

0 1 2 3 4
1 0 1 2 3
2 1 2 3 4
3 2 3 4 5

5

In [30]:
str1 = 'efg'
str2 = 'elzh'
edit_distance_dp_space_opt(str1, str2)

5

## kadane algo

In [47]:
import sys
def find_max_subarray(arr):
    memo = [0 for _ in range(len(arr))]
    memo[0] = arr[0]
    max_so_far = arr[0]
    for index, val in enumerate(arr[1:]):
        memo[index] = max(val + memo[index-1], val)
        max_so_far = max(max_so_far, memo[index])
    return max_so_far

In [48]:
import sys

def find_max_subarray(arr):
    local_max = 0
    global_max = -sys.maxsize
    for val in arr:
        local_max = max(val, val + local_max)
        global_max = max(local_max, global_max)
    return global_max

In [49]:
x = [-2, 1, -3, 4, -1 , 2, 1, -5, 4]
x = [-3, -2, -1, -5, -2]
find_max_subarray(x)

-1

In [8]:
for _ in range(len(x)):
    print(_)

In [3]:
grid = [[1,2,3],[4,5,6]]
dp = [[0 for _ in range(len(grid[0]))] for _ in range(len(grid))]
dp

[[0, 0, 0], [0, 0, 0]]

In [6]:
float('inf') > x

TypeError: '>' not supported between instances of 'float' and 'str'

In [10]:
x = [5,6,1]
import heapq
heapq.heapify(x)
while x:
    print(heapq.heappop(x))

1
5
6

In [13]:
from collections import defaultdict
x = defaultdict(list)

x[0]

[]

In [14]:
2 ** 2

4

In [15]:
x = [1,2,3,4]
for index, val in enumerate(x[1:]):
    print(index)

0
1
2

In [32]:
x = [1,2,3,4,3,2,4,5,5,5,6,2,3]
x = [1,1,1,1,2,2,2,3,3,3]
# find all local maximas
local_maximas = [0]
local_maxima = 0
prev_val = x[0]
for i in range(1, len(x)):
    val = x[i]
    print(local_maximas)
    
    if val > prev_val:
        if isinstance(local_maximas[len(local_maximas) - 1], list):
            local_maximas.pop(len(local_maximas) - 1)
        local_maxima = i
    elif val < prev_val:
        if isinstance(local_maximas[len(local_maximas) - 1], list):
            local_maximas[len(local_maximas) - 1].append(local_maxima)
        if local_maximas[len(local_maximas) - 1] != local_maxima:
            local_maximas.append(local_maxima)
    else:
        if isinstance(local_maximas[len(local_maximas) - 1], list) and len(local_maximas[len(local_maximas) - 1]) == 1:
            continue
        local_maximas.append([local_maxima])
        local_maxima = i
    prev_val = val
local_maximas.append(len(x)-1)

[0]
[0, [0]]
[0, [0]]
[0, [0]]
[0]
[0, [4]]
[0, [4]]
[0]
[0, [7]]

In [30]:
local_maximas

[0, [7], 9]

In [2]:
for i in range(1):
    print(i)

0

In [2]:
5 > float('inf')

False

In [3]:
float('inf') == float('inf')

True

In [7]:
x = [True, False, True]
False in x

True